#puzzle {
    height: 450px;
    width: 450px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid black;
}
#controls {
    height: 40px;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    margin-top: 20px;
}
body {
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.cell {
    border: 1px solid black;
    height: 48px;
    width: 48px;
}
